{% extends "layout.html" %}
{% block subtitle %}Team - {% endblock %}
{% block content %}
    <div class="wrapper content">
        <div class="content-text">
            <h2>About us</h2>

            <div class="paragraphs">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum
                    mauris.</p>

                <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio.
                    Maecenas convallis ullamcorper ultricies.</p>
            </div>

            <h2>Our team</h2>

            <div class="member">
                <a href="">
                    <img alt="An Employee" class="member-pic" src="http://placehold.it/195&text=An+Employee"/>
                    <h4 class="member-name">An Employee</h4>

                    <p class="member-job">iOS and OSX developer</p>
                </a>
            </div>
            <div class="member">
                <a href="">
                    <img alt="An Employee" class="member-pic" src="http://placehold.it/195&text=An+Employee"/>
                    <h4 class="member-name">An Employee</h4>

                    <p class="member-job">Designer</p>
                </a>
            </div>
            <div class="member">
                <a href="">
                    <img alt="An Employee" class="member-pic" src="http://placehold.it/195&text=An+Employee"/>
                    <h4 class="member-name">An Employee</h4>

                    <p class="member-job">iOS and Flex developer</p>
                </a>
            </div>
            <div class="member">
                <a href="">
                    <img alt="An Employee" class="member-pic" src="http://placehold.it/195&text=An+Employee"/>
                    <h4 class="member-name">An Employee</h4>

                    <p class="member-job">Android ddeveloper</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
