{% extends "layout.html" %}
{% block subtitle %}Apps - {% endblock %}
{% block content %}
    <div class="wrapper content">
        <div class="content-text">
            <h2>Our apps</h2>
            <ul>
                <div class="app first-column-app">
                    <h3 class="app-title"><a href="">MyApp</a></h3>

                    <p><a href=""><img src="http://placehold.it/218&text=MyApp" alt="MyApp"/></a></p>

                    <p class="app-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.
                        Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante
                        hendrerit.</p>

                    <p class="app-platforms">
                        <a class="app-android" href="http://play.google.com/"></a>
                        <a class="app-w8" href="http://apps.microsoft.com/windows/"></a>
                        <a class="app-wp" href="http://www.windowsphone.com/"></a>
                        <a class="app-ios" href="http://itunes.apple.com/"></a>
                    </p>
                </div>
                <div class="app">
                    <h3 class="app-title"><a href="">MyOtherApp</a></h3>

                    <p><a href=""><img src="http://placehold.it/218&text=MyOtherApp" alt="MyOtherApp"/></a></p>

                    <p class="app-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.
                        Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante
                        hendrerit.</p>

                    <p class="app-platforms">
                        <a class="app-android" href="http://play.google.com/"></a>
                        <a class="app-w8" href="http://apps.microsoft.com/windows/"></a>
                        <a class="app-wp" href="http://www.windowsphone.com/"></a>
                        <a class="app-ios" href="http://itunes.apple.com/"></a>
                    </p>
                </div>
                <div class="app first-column-app">
                    <h3 class="app-title"><a href="">MyThirdApp</a></h3>

                    <p><a href=""><img src="http://placehold.it/218&text=MyThirdApp" alt="MyThirdApp"/></a></p>

                    <p class="app-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.
                        Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante
                        hendrerit.</p>

                    <p class="app-platforms">
                        <a class="app-android" href="https://play.google.com/"></a>
                    </p>
                </div>
            </ul>
        </div>
    </div>
{% endblock %}
