{% extends "layout.html" %}
{% block subtitle %}Jobs - {% endblock %}
{% block content %}
    <div class="wrapper content">
    <div class="content-text">
        <h2>Jobs</h2>

        <div class="paragraphs">
            <p>Interested in joining our team?</p>

            <p>We are always on the lookout for smart people who are passionate about technology and can work in a
                collaborative environment.

            <p>If you are an innovative thinker who wants to put your skills to work, learn some new ones and be part of
                a cutting-edge team, please send us your resume to <a href="">mycompany@emailaddress</a>.</p>
        </div>
    </div>
{% endblock %}
